.objective-form-add {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    flex-direction: column;
}

.auth-form-container {
    margin: 2rem;
    padding:3rem;
    border: 1px solid white;
    border-radius: 10px;
    flex-direction: column;
}
.definition {
    margin:10px;
    padding: 15px;
    max-width: 350px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
}
.modal {
    border: 1px solid white;
    border-radius: 10px;
    padding:3rem;
}
.arrow-icon {
    display: flex;
    flex-direction: start;
}
.input-add-objective {
    color: white;
    background-color: transparent;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    font-size: 16px;
  }
  .input-add-objective::placeholder {
    color: rgba(255, 255, 255, 0.466);
  }
.button {
    color: #fff;
    background-color: #007bff00;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    font-size: 16px;
  }
.objective-item {
    border-radius: 20px;
    background-color: #e1bc7cee; 
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 10px #FAAB63;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #FFE8BC;
  }
  .objective-remember-to {
    color: #485E9C; 
    font-size: 20px;
    margin-bottom: 5px;
    text-transform: lowercase;
  }
  .objective-remember-to::first-letter {
    text-transform: uppercase; /* Capitalize the first letter of each word */
  }
  .add-objective-button {
    color: #fff;
    background-color: #007bff00;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    min-height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 16px;
  }
  
  .add-objective-button:hover {
    background-color: #FF7A59;
  }
  .label-text {
    color: #485E9C;
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
    margin-top: 5px;
  }
  .description-text{
    margin:10px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }