.objective-list {
    font-family: Arial, sans-serif;
    margin: 20px;
   
    flex-direction: row;
    
  }
  
  .list-title {
    color: white;
    font-size: 24px;
  }
  
  .calendar-title {
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .objectives-title {
    color: white;
    font-size: 18px;
    margin-top: 20px;
  }
  
  .objectives {
    border: 1px solid white;
    border-radius: 10px;
    list-style-type: none;
    padding: 1rem;
    margin: 2rem;
  }
  
  .objective-item {
    border: 1px solid white;
    border-radius: 10px;
    background-color: #f8f8f8;
    padding: 1rem;
    
    margin-bottom: 1rem;
  }
  
  .objective-title {
    color: #cd645b;
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .objective-description {
    color: #555;
  }
  
  .objective-date {
    color: #777;
  }
  
  .edit-link {
    color: #c941ff;
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
    margin-top: 5px;
  }
  
  .add-objective-button {
    color: #fff;
    background-color: #007bff00;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    font-size: 16px;
  }
  
  .add-objective-button:hover {
    background-color: #0056b3;
  }

  .calendar-section {
    border: 1px solid white;
    border-radius: 10px;
    padding: 0.5rem;
    margin: 1rem;
  }

  .react-calendar__navigation {
    background-color: white;
  }
  .react-calendar__month-view__weekdays__weekday{
    background-color: white;
    color:black;
  }
  .body-calendar-objectives {
    display: flex;
    flex-direction: row;
  }