* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.objectives-title {
    color: #2D3E50;
    font-size: 14px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
  }
  .objective-title:hover {
    background-color: #7439db; /* Change to your desired highlight color */
    color: rgb(255, 255, 255); /* Change to your desired text color */
  }
  .objective-title.clicked {
    background-color: #8400f0; /* Change to your desired clicked highlight color */
    color: rgb(255, 255, 255); /* Change to your desired clicked text color */
  }
    .custom-ul {
    list-style: none; /* Remove the default bullet points */
    display: flex; /* Display list items horizontally */
    justify-content: space-around; /* Distribute items evenly along the horizontal axis */
    background-color: transparent; /* Optional background color for the entire list */
    padding: 10px; /* Optional padding for the entire list */
  }
  
  /* Styling for list items */
  .custom-ul li {
    margin: 0 1px; /* Optional margin between list items */
  }
  
  /* Styling for links within list items */
  .custom-ul li a {
    text-decoration: none; /* Remove underline from links */
    color: #f1f1f1; /* Link text color */
    padding: 5px 10px; /* Optional padding for the link */
    border-radius: 5px; /* Optional rounded corners for the link */
  }
  
  /* Styling for links on hover */
  .custom-ul li a:hover {
    background-color: #941dc4; /* Background color on hover */
  }    
  .objective-item.keylist {
    border: 1px solid white;
    border-radius: 10px;
    background-color: #179CB4;
    padding: 1rem;
    margin-bottom: 1rem;
  } 
  .objective-item.nokeylist {
    border: 1px solid black;
    border-radius: 10px;
    background-color: transparent;
    padding: 1rem;
    margin-bottom: 1rem;
  } 
  .keyresult-description {
    color: #2D3E50;
    font-size: 18px;
    transition: background-color 0.3s ease;
    text-decoration: underline;
  }
  .keyresult-measurement {
    margin-top: 1rem;
    list-style-type: disc;
    color: #2D3E50;
    font-size: 10px;
    transition: background-color 0.3s ease;
  }
  .keyresult-action {
    list-style-type: disc;
    margin-top: 1rem;
    color: #2D3E50;
    font-size: 12px;
    transition: background-color 0.3s ease;
  }
  .empty-text {
    margin-top: 1rem;
    font-size: 14px;
    color: #F2546C;
  }
  .checkmark {
    position: relative;
    padding-left: 25px; /* Space for the checkmark */
  }
  .checkmark::before {
    content: "\2713"; /* Unicode code for checkmark */
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px; /* Adjust the size of the checkmark */
    color: #00ff00; /* Set the color of the checkmark (green) */
  }
  .instructions-h3-title {
    color: #2D3E50;
    font-size: 18px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    text-align: center;
  }