* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.objectives-title {
    color: white;
    font-size: 18px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
  }
  .objective-title:hover {
    background-color: #7439db; /* Change to your desired highlight color */
    color: rgb(255, 255, 255); /* Change to your desired text color */
  }
  .objective-title.clicked {
    background-color: #8400f0; /* Change to your desired clicked highlight color */
    color: rgb(255, 255, 255); /* Change to your desired clicked text color */
  }
    .custom-ul {
    list-style: none; /* Remove the default bullet points */
    display: flex; /* Display list items horizontally */
    justify-content: space-around; /* Distribute items evenly along the horizontal axis */
    background-color: transparent; /* Optional background color for the entire list */
    padding: 10px; /* Optional padding for the entire list */
  }
  
  /* Styling for list items */
  .custom-ul li {
    margin: 0 1px; /* Optional margin between list items */
  }
  
  /* Styling for links within list items */
  .custom-ul li a {
    text-decoration: none; /* Remove underline from links */
    color: #f1f1f1; /* Link text color */
    padding: 5px 10px; /* Optional padding for the link */
    border-radius: 5px; /* Optional rounded corners for the link */
  }
  
  /* Styling for links on hover */
  .custom-ul li a:hover {
    background-color: #941dc4; /* Background color on hover */
  }    
  .objective-item.keylist {
    border: 1px solid white;
    border-radius: 10px;
    background-color: #ff00d4;
    padding: 1rem;
    margin-bottom: 1rem;
  } 