.auth-form-container {
    margin:5rem;
    padding: 3rem;
    display: flex;
    max-width: fit-content;
  
  
}
.button {
    color: #fff;
    background-color: #007bff00;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    font-size: 16px;
  }
  .input-keyresult {
    color: white;
    background-color: transparent;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    font-size: 16px;
    
  }
  .input-keyresult::placeholder {
    color: white; /* Custom color for the placeholder text */
  }