.button-auth {
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    display: inline-block;
    margin-right: 10px;
    color: #333;
  }
  nav .button-auth:hover {
    background-color: #c66fbc;
  }