.button-auth {
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    display: inline-block;
    margin-right: 10px;
    color: #ffffff;
    font-size: 15px;
  }
  nav .button-auth:hover {
    background-color: #FFE8BC;
    color: #2D3E50;
  }
  nav .email-text {
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    display: inline-block;
    margin-right: 10px;
    color: #ffffff;
    font-size: 15px;
  }