header {
    display: flex;
    padding: 10px;
    min-height: 1%;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    margin: 0;
    padding: 0;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 10px;
    color: #333;
  }
  
  nav li:last-child {
    margin-right: 0;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border-radius: 4px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
  }
  
  .navbar {
    display: flex; /* or display: grid; */
    gap: 10px;
  }
  
  .navbar a {
    text-decoration: none;
    color: #fff;
  }
  nav a:hover {
    background-color: #c66fbc;
  }
  nav a:focus {
    border: 1px solid rgba(255, 255, 255, 0.427);
    border-radius: 10px;
  }
  @media (max-width: 768px) {
    .header {
      flex-direction: column; /* or grid-template-columns: 1fr; */
      align-items: center;
    }
  
    .navbar {
      margin-top: 10px;
    }
  }