header {
    background-image: linear-gradient(79deg, #7439db, #c66fbc 48%, #F7944D);
    display: flex;
    padding: 20px;
    min-height: 1%;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 10px;
    color: #333;
  }
  
  nav li:last-child {
    margin-right: 0;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border-radius: 4px;
  }
  
  nav a:hover {
    background-color: #ddd;
  }
  nav a:focus {
    border: 1px solid rgba(255, 255, 255, 0.427);
    border-radius: 10px;
  }
